{{#section 'header'}}
<title>TH-News</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="scripts/bootstrap/bootstrap.min.css">
	<!-- IonIcons -->
	<link rel="stylesheet" href="scripts/ionicons/css/ionicons.min.css">
	<!-- Toast -->
	<link rel="stylesheet" href="scripts/toast/jquery.toast.min.css">
	<!-- OwlCarousel -->
	<link rel="stylesheet" href="scripts/owlcarousel/dist/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="scripts/owlcarousel/dist/assets/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="scripts/magnific-popup/dist/magnific-popup.css">
	<link rel="stylesheet" href="scripts/sweetalert/dist/sweetalert.css">
	<!-- Custom style -->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/skins/all.css">
	<link rel="stylesheet" href="css/demo.css">
{{/section}}
{{#section 'footer'}}
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.migrate.js"></script>
	<script src="/scripts/bootstrap/bootstrap.min.js"></script>
	<script>var $target_end = $(".best-of-the-week");</script>
	<script src="/scripts/jquery-number/jquery.number.min.js"></script>
	<script src="/scripts/owlcarousel/dist/owl.carousel.min.js"></script>
	<script src="/scripts/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script src="/scripts/easescroll/jquery.easeScroll.js"></script>
	<script src="/scripts/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/scripts/toast/jquery.toast.min.js"></script>
	<script src="/js/demo.js"></script>
	<script src="/js/e-magz.js"></script>
{{/section}}

<header class="primary">
	<div class="firstbar">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<div class="brand">
						<a href="/">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
								alt="TH-News Logo">
						</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<form class="search" autocomplete="off">
						<div class="form-group">
							<div class="input-group">
								<input type="text" name="search" class="form-control" placeholder="Tìm kiếm">
								<div class="input-group-btn">
									<button class="btn btn-primary"><i class="ion-search"></i></button>
								</div>
							</div>
						</div>
						<div class="help-block">
							<div>Phổ biến:</div>
							<ul>
								{{#each TopFiveCommonKeywords}}
								<li><a href="#">{{Keyword}}</a></li>
								{{/each}}
							</ul>
						</div>
					</form>
				</div>
				<div class="col-md-3 col-sm-12 text-right">
					<ul class="nav-icons">
						<li><a href="/register"><i class="ion-person-add"></i>
								<div>Đăng ký</div>
							</a></li>
						<li><a href="/login"><i class="ion-person"></i>
								<div>Đăng nhập</div>
							</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Start nav -->
	<nav class="menu">
		<div class="container">
			<div class="brand">
				<a href="#">
					<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
						alt="TH-News Logo">
				</a>
			</div>
			<div class="mobile-toggle">
				<a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
			</div>
			<div class="mobile-toggle">
				<a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
			</div>
			<div id="menu-list">
				<ul class="nav-list">
					<li class="for-tablet nav-title"><a>Menu</a></li>
					<li class="for-tablet"><a href="/login">Đăng nhập</a></li>
					<li class="for-tablet"><a href="/register">Đăng ký</a></li>
					<!-- <li><a href="category.html">Thời sự</a></li> -->
					<li class="dropdown magz-dropdown"><a href="#">Thời sự <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="/">Chính trị</a></li>
							<li><a href="category.html">Quốc tế</a></li>
							<li><a href="single.html">Đô thị</a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown">
						<a href="category.html">Kinh doanh <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="/">Nông sản</a></li>
							<li><a href="category.html">Thủy sản</a></li>
							<li><a href="single.html">Nhà đất</a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#">Công nghệ <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html">Internet</a></li>
							<li class="dropdown magz-dropdown"><a href="category.html">Mobile <i
										class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="category.html">Điện thoại</a></li>
									<li class="dropdown magz-dropdown"><a href="category.html">Ứng dụng <i
												class="ion-ios-arrow-right"></i></a>
										<ul class="dropdown-menu">
											<li><a href="category.html">Android</a></li>
											<li><a href="category.html">IOS</a></li>
											<li><a href="category.html">Công nghệ mới</a></li>
										</ul>
									</li>
									<li><a href="category.html">Trí tuệ nhân tạo</a>
								</ul>
							</li>
							<li><a href="category.html">Office</a></li>
							<li class="dropdown magz-dropdown"><a href="#">Lập trình <i
										class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="category.html">Web</a></li>
									<li class="dropdown magz-dropdown"><a href="category.html">Android <i
												class="ion-ios-arrow-right"></i></a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="#"> Điểm báo <i
								class="ion-ios-arrow-right"></i>
							<div class="badge">Hot</div>
						</a>
						<div class="dropdown-menu megamenu">
							<div class="megamenu-inner">
								<div class="row">
									<div class="col-md-3">
										<div class="row">
											<div class="col-md-12">
												<h2 class="megamenu-title">Trending</h2>
											</div>
										</div>
										<ul class="vertical-menu">
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Link 4'47'' tại
													đây</a></li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Chùa ba vàng</a>
											</li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Tôi có thể thấy
													sóng điện thoại</a></li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Phim 18+ </a>
											</li>
											<li><a href="#"><i class="ion-ios-circle-outline"></i> Game of
													thrones</a></li>
										</ul>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-12">
												<h2 class="megamenu-title">Featured Posts</h2>
											</div>
										</div>
										<div class="row">
											{{#each TopThreeHot}}
											<article class="article col-md-4 mini">
												<div class="inner">
													<figure>
														<a href="/article/{{Id}}">
															<img src="{{Thumbnail}}"
																alt="Sample Article">
														</a>
													</figure>
													<div class="padding">
														<div class="detail">
															<div class="time">{{PublishDate}}</div>
															<div class="category"><a href="category.html">Pet</a>
															</div>
														</div>
														<h2><a href="/article/{{Id}}">{{Title}}</a></h2>
													</div>
												</div>
											</article>
											{{/each}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="dropdown magz-dropdown"><a href="#">Thể thao <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html">Thể thao Việt Nam</a></li>
							<li class="dropdown magz-dropdown"><a href="category.html">Thể thao thế giới<i
										class="ion-ios-arrow-right"></i></a>
								<ul class="dropdown-menu">
									<li><a href="category.html">Ngoại hạng Anh</a></li>
									<li><a href="category.html">Tây Ban Nha</a></li>
									<li><a href="category.html">Ý</a></li>
									<li><a href="category.html">Pháp</a></li>
									<li><a href="category.html">Đức</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Giải trí <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html">Sao Việt </a></li>
							<li><a href="category.html">Sao Châu Á </a></li>
							<li><a href="category.html">Sao Hollywood </a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Âm nhạc <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="category.html"> Nhạc Việt </a></li>
							<li><a href="category.html"> Nhạc Hàn </a></li>
							<li><a href="category.html"> Nhạc Âu Mỹ </a></li>
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Quản lý cá nhân <i
								class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon ion-person"></i> My Account</a></li>
							<li><a href="#"><i class="icon ion-heart"></i> Favorite</a></li>
							<li><a href="#"><i class="icon ion-chatbox"></i> Comments</a></li>
							<li><a href="#"><i class="icon ion-key"></i> Change Password</a></li>
							<li><a href="#"><i class="icon ion-settings"></i> Settings</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon ion-log-out"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End nav -->
</header>

<section class="home">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="headline">
					<div class="nav" id="headline-nav">
						<a class="left carousel-control" role="button" data-slide="prev">
							<span class="ion-ios-arrow-left" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" role="button" data-slide="next">
							<span class="ion-ios-arrow-right" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
					<div class="owl-carousel owl-theme" id="headline">
						{{#each lastesArticles}}
						<div class="item">
							<a href="#">
								<div class="badge">Tin mới!</div>
								{{Title}}
							</a>
						</div>
						{{/each}}
					</div>
				</div>
				<div class="owl-carousel owl-theme slide" id="featured">
					{{#each TopEightPopular}}
					<div class="item">
						<article class="featured">
							<div class="overlay"></div>
							<figure>
								<img src="{{Thumbnail}}"
									alt="Sample Article">
							</figure>
							<div class="details">
								<div class="category"><a href="category.html">{{CatName}}</a></div>
								<h1><a href="/article/{{Id}}">{{Title}}</a></h1>
								<div class="time">{{PublishDate}}</div>
							</div>
						</article>
					</div>
					{{/each}}
				</div>
				<div class="line">
					<div>Tin mới</div>
				</div>
				<div class="row">
					{{#grouped_each 2 lastesArticles}}
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="row">
							{{#each this}}
							<article class="article col-md-12">
								<div class="inner">
									<figure>
										<a href="/article/{{Id}}">
											<img src="{{Thumbnail}}"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<div class="detail">
											<div class="time">{{PublishDate}}</div>
											<div class="category"><a href="category.html">{{CatName}}</a></div>
										</div>
										<h2><a href="/article/{{Id}}">{{Title}}</a>
										</h2>
										<p>{{Summary}}
										</p>
										<footer>
											<a href="#" class="love"><i class="ion-android-favorite-outline"></i>
												<div>{{Liked}}</div>
											</a>
											<a class="btn btn-primary more" href="/article/{{Id}}">
												<div>Chi tiết</div>
												<div><i class="ion-ios-arrow-thin-right"></i></div>
											</a>
										</footer>
									</div>
								</div>
							</article>
							{{/each}}
							
						</div>
					</div>
					{{/grouped_each}}
					
				</div>
				<div class="line transparent little"></div>
				<div class="row">
					<div class="col-md-6 col-sm-6 trending-tags">
						<h1 class="title-col">Trending Tags</h1>
						<div class="body-col">
							<ol class="tags-list">
								<li><a href="#">Link 4'47" tại đây</a></li>
								<li><a href="#">Chùa ba vàng</a></li>
								<li><a href="#">Tôi có thể thấy sóng điện thoại</a></li>
								<li><a href="#">Phim 18+</a></li>
								<li><a href="#">Game of thrones</a></li>
								<li><a href="#">Tân Ỷ Thiên Đồ Long Ký 2019</a></li>
								<li><a href="#">Liv - Chel</a></li>
								<li><a href="#">Red Velvet</a></li>
								<li><a href="#">Jun Vũ</a></li>
								<li><a href="#">Champion Leagues</a></li>
							</ol>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<h1 class="title-col">
							Tin nóng
							<div class="carousel-nav" id="hot-news-nav">
								<div class="prev">
									<i class="ion-ios-arrow-left"></i>
								</div>
								<div class="next">
									<i class="ion-ios-arrow-right"></i>
								</div>
							</div>
						</h1>
						<div class="body-col vertical-slider" data-max="4" data-nav="#hot-news-nav" data-item="article">
							{{#each TopEightHot}}
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="/article/{{Id}}">
											<img src="{{Thumbnail}}"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="/article/{{Id}}">{{Title}}</a></h1>
										<div class="detail">
											<div class="category"><a href="category.html">{{CatName}}</a></div>
											<div class="time">{{PublishDate}}</div>
										</div>
									</div>
								</div>
							</article>
							{{/each}}
						</div>
					</div>
				</div>
				<div class="line top">
					<div>Tin khác</div>
				</div>
				<div class="row">
					{{#each AnotherNews}}
					<article class="col-md-12 article-list">
						<div class="inner">
							<figure>
								<a href="/article/{{Id}}">
									<img src="{{Thumbnail}}"
										alt="Sample Article">
								</a>
							</figure>
							<div class="details">
								<div class="detail">
									<div class="category">
										<a href="#">{{CatName}}</a>
									</div>
									<div class="time">{{PublishDate}}</div>
								</div>
								<h1><a href="/article/{{Id}}">{{Title}}</a></h1>
								<p>
									{{Summary}}
								</p>
								<footer>
									<a href="#" class="love"><i class="ion-android-favorite-outline"></i>
										<div>{{Liked}}</div>
									</a>
									<a class="btn btn-primary more" href="/article/{{Id}}">
										<div>Chi tiết</div>
										<div><i class="ion-ios-arrow-thin-right"></i></div>
									</a>
								</footer>
							</div>
						</div>
					</article>
					{{/each}}
				</div>
			</div>
			<div class="col-xs-6 col-md-4 sidebar" id="sidebar">
				<div class="sidebar-title for-tablet">Sidebar</div>
				<aside>
					<div class="aside-body">
						{{#each feadturedWritter}}
						<div class="featured-author">
							<div class="featured-author-inner">
								<div class="featured-author-cover"
									style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/img15_ehutft.jpg');">
									<div class="badges">
										<div class="badge-item"><i class="ion-star"></i> Featured</div>
									</div>
									<div class="featured-author-center">
										<figure class="featured-author-picture">
											<img src="{{avatar}}"
												alt="Sample Article">
										</figure>
										<div class="featured-author-info">
											<h2 class="name">{{name}}</h2>
											<div class="desc">@{{pseudonym}}</div>
										</div>
									</div>
								</div>
								<div class="featured-author-body">
									<div class="featured-author-count">
										<div class="item">
											<a href="#">
												<div class="name">Posts</div>
												<div class="value">{{PostNum}}</div>
											</a>
										</div>
										<div class="item">
											<a href="#">
												<div class="name">Stars</div>
												<div class="value">{{stars}}</div>
											</a>
										</div>
									</div>
									<div class="featured-author-quote">
										"Good writter! Hmmmm...... Not bad"
									</div>
									<div class="block">
										<h2 class="block-title">Photos</h2>
										<div class="block-body">
											<ul class="item-list-round" data-magnific="gallery">
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img06_vor6ey.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041047/TH-News/News/img06_vor6ey.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img07_bqxmw3.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img07_bqxmw3.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img08_iqdgzz.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img08_iqdgzz.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img09_qlypzd.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img09_qlypzd.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img10_wfgxr2.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img10_wfgxr2.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img11_nxvm0l.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img11_nxvm0l.jpg');"></a>
												</li>
												<li><a href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img12_xulkla.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img12_xulkla.jpg');">
														<div class="more">+2</div>
													</a></li>
												<li class="hidden"><a
														href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img13_l84wfg.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img13_l84wfg.jpg');"></a>
												</li>
												<li class="hidden"><a
														href="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img14_xyrdv3.jpg"
														style="background-image: url('https://res.cloudinary.com/dsqfchskj/image/upload/v1557041048/TH-News/News/img14_xyrdv3.jpg');"></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{/each}}
					</div>
				</aside>
				<aside>
					<h1 class="aside-title">Popular <a href="#" class="all">See All <i
								class="ion-ios-arrow-right"></i></a></h1>
					<div class="aside-body">

						{{#each TopEightPopular}}
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="/article/{{Id}}">
										<img src="{{Thumbnail}}"
											alt="Sample Article">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="/article/{{Id}}">{{Title}}</a>
									</h1>
								</div>
							</div>
						</article>
						{{/each}}
						
						
					</div>
				</aside>
				<aside>
					<div class="aside-body">
						<form class="newsletter">
							<div class="icon">
								<i class="ion-ios-email-outline"></i>
								<h1>Newsletter</h1>
							</div>
							<div class="input-group">
								<input type="email" class="form-control email" placeholder="Your mail">
								<div class="input-group-btn">
									<button class="btn btn-primary"><i class="ion-paper-airplane"></i></button>
								</div>
							</div>
							<p>Nhập email để chúng tôi có thể thông báo cho bạn nếu có tin tức gì mới</p>
						</form>
					</div>
				</aside>
				<aside>
					<ul class="nav nav-tabs nav-justified" role="tablist">
						<li class="active">
							<a href="#recomended" aria-controls="recomended" role="tab" data-toggle="tab">
								<i class="ion-android-star-outline"></i> Recomended
							</a>
						</li>
						<li>
							<a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">
								<i class="ion-ios-chatboxes-outline"></i> Comments
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="recomended">
							{{#each MostRecommend}}
							<article class="article-fw">
								<div class="inner">
									<figure>
										<a href="/article/{{Id}}">
											<img src="{{Thumbnail}}"
												alt="Sample Article">
										</a>
									</figure>
									<div class="details">
										<div class="detail">
											<div class="time">{{PublishDate}}</div>
											<div class="category"><a href="category.html">{{CatName}}</a></div>
										</div>
										<h1><a href="/article/{{Id}}"></a></h1>
										<p>
											{{Summary}}
										</p>
									</div>
								</div>
							</article>
							{{/each}}
							<div class="line"></div>
							{{#each TopFourRecommend}}
							<article class="article-mini">
								<div class="inner">
									<figure>
										<a href="/article/{{Id}}">
											<img src="{{Thumbnail}}"
												alt="Sample Article">
										</a>
									</figure>
									<div class="padding">
										<h1><a href="/article/{{Id}}">{{Title}}</a>
										</h1>
										<div class="detail">
											<div class="category"><a href="category.html">{{CatName}}</a></div>
											<div class="time">{{PublishDate}}</div>
										</div>
									</div>
								</div>
							</article>
							{{/each}}
						</div>
						<div class="tab-pane comments" id="comments">
							<div class="comment-list sm">
								<div class="item">
									<div class="user">
										<figure>
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/default-writer_sglwso.jpg"
												alt="User Picture">
										</figure>
										<div class="details">
											<h5 class="name">Tín Huỳnh</h5>
											<div class="time">24 Hours</div>
											<div class="description">
												Wow! Such a good writer
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="user">
										<figure>
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/default-writer_sglwso.jpg"
												alt="User Picture">
										</figure>
										<div class="details">
											<h5 class="name">Tin Huynh</h5>
											<div class="time">36 Hours</div>
											<div class="description">
												I beleive in your point of view
											</div>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="user">
										<figure>
											<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/default-writer_sglwso.jpg"
												alt="User avatar">
										</figure>
										<div class="details">
											<h5 class="name">Tin Huynh</h5>
											<div class="time">40 Hours</div>
											<div class="description">
												I see what you are talking about
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>
				<aside>
					<h1 class="aside-title">Videos
						<div class="carousel-nav" id="video-list-nav">
							<div class="prev"><i class="ion-ios-arrow-left"></i></div>
							<div class="next"><i class="ion-ios-arrow-right"></i></div>
						</div>
					</h1>
					<div class="aside-body">
						<ul class="video-list" data-youtube='"carousel":true, "nav": "#video-list-nav"'>
							<li><a data-youtube-id="SBjQ9tuuTJQ" data-action="magnific"></a></li>
							<li><a data-youtube-id="9cVJr3eQfXc" data-action="magnific"></a></li>
							<li><a data-youtube-id="DnGdoEa1tPg" data-action="magnific"></a></li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
	</div>
</section>

<section class="best-of-the-week">
	<div class="container">
		<h1>
			<div class="text">Xem nhiều trong tuần</div>
			<div class="carousel-nav" id="best-of-the-week-nav">
				<div class="prev">
					<i class="ion-ios-arrow-left"></i>
				</div>
				<div class="next">
					<i class="ion-ios-arrow-right"></i>
				</div>
			</div>
		</h1>
		<div class="owl-carousel owl-theme carousel-1">
			{{#each HotInWeek}}
			<article class="article">
				<div class="inner">
					<figure>
						<a href="/article/{{Id}}">
							<img src="{{Thumbnail}}"
								alt="Sample Article">
						</a>
					</figure>
					<div class="padding">
						<div class="detail">
							<div class="time">{{PublishDate}}</div>
							<div class="category"><a href="category.html">{{CatName}}</a></div>
						</div>
						<h2><a href="/article/{{Id}}">{{Title}}</a></h2>
						<p>{{Summary}}</p>
					</div>
				</div>
			</article>
			{{/each}}		
		</div>
	</div>
</section>

<!-- Start footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Kênh tin tức</h1>
					<div class="block-body">
						<figure class="foot-logo">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
								class="img-responsive" alt="Logo">
						</figure>
						<p class="brand-description">
							TH-News là kênh tin tức được phát triển bởi nhóm đẹp trai -HCMUS
						</p>
						<a href="page.html" class="btn btn-magz white">Giới thiệu <i
								class="ion-ios-arrow-thin-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Tìm kiếm nhiều <div class="right"><a href="#">See All <i
									class="ion-ios-arrow-thin-right"></i></a></div>
					</h1>
					<div class="block-body">
						<ul class="tags">
							{{#each TopFiveCommonKeywords}}
							<li><a href="#">{{Keyword}}</a></li>
							{{/each}}
						</ul>
					</div>
				</div>
				<div class="line"></div>
				<div class="block">
					<h1 class="block-title">Tin tức qua email</h1>
					<div class="block-body">
						<p>Theo dõi để cập nhật tin mới qua email</p>
						<form class="newsletter">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="ion-ios-email-outline"></i>
								</div>
								<input type="email" class="form-control email" placeholder="Nhập email">
							</div>
							<button class="btn btn-primary btn-block white">Theo dõi</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Tin mới</h1>
					<div class="block-body">
						{{#each lastesArticles}}
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="/article/{{Id}}">
										<img src="{{Thumbnail}}"
											alt="Thumbnail">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="/article/{{Id}}">{{Title}}</a></h1>
								</div>
							</div>
						</article>
						{{/each}}
						
						<a href="#" class="btn btn-magz white btn-block">Xem thêm <i
								class="ion-ios-arrow-thin-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<div class="block">
					<h1 class="block-title">Follow</h1>
					<div class="block-body">
						<p>Theo dõi các trang mạng xã hội để cập nhật tin tức mới nhất</p>
						<ul class="social trp">
							<li>
								<a href="#" class="facebook">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-facebook"></i>
								</a>
							</li>

							<li>
								<a href="#" class="youtube">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-youtube-outline"></i>
								</a>
							</li>
							<li>
								<a href="#" class="googleplus">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-googleplus"></i>
								</a>
							</li>
							<li>
								<a href="#" class="instagram">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-instagram-outline"></i>
								</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="line"></div>
				<div class="block">
					<div class="block-body no-margin">
						<ul class="footer-nav-horizontal">
							<li><a href="/">Trang chủ</a></li>
							<li><a href="#">Tin tức</a></li>
							<li><a href="contact.html">Liên hệ</a></li>
							<li><a href="page.html">Giới thiệu</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="copyright">
					COPYRIGHT &copy; BY LE MINH TRI-HUYNH TRUNG-TIN-NGUYEN HUU TU
				</div>
			</div>
		</div>
	</div>
</footer>