{{#section 'header'}}
<title>Đỗi mật khẩu</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="/scripts/bootstrap/bootstrap.min.css">
<!-- IonIcons -->
<link rel="stylesheet" href="/scripts/ionicons/css/ionicons.min.css">
<!-- Toast -->
<link rel="stylesheet" href="/scripts/toast/jquery.toast.min.css">
<!-- OwlCarousel -->
<link rel="stylesheet" href="/scripts/owlcarousel/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="/scripts/owlcarousel/dist/assets/owl.theme.default.min.css">
<!-- Magnific Popup -->
<link rel="stylesheet" href="/scripts/magnific-popup/dist/magnific-popup.css">
<link rel="stylesheet" href="/scripts/sweetalert/dist/sweetalert.css">
<!-- Custom style -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/skins/all.css">
<link rel="stylesheet" href="/css/demo.css">
{{/section}}

<header class="primary">
	<div class="firstbar">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12">
					<div class="brand">
						<a href="/">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
								alt="TH-News Logo">
						</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-12">
					<form class="search" autocomplete="off">
						<div class="form-group">
							<div class="input-group">
								<input type="text" name="search" class="form-control" placeholder="Tìm kiếm">
								<div class="input-group-btn">
									<button class="btn btn-primary"><i class="ion-search"></i></button>
								</div>
							</div>
						</div>
						<div class="help-block">
							<div>Phổ biến:</div>
							<ul>
								<li><a href="#">Nông sản</a></li>
								<li><a href="#">Thủy sản</a></li>
								<li><a href="#">Kinh doanh</a></li>
								<li><a href="#">Giá vàng</a></li>
								<li><a href="#">Chứng khoán</a></li>
							</ul>
						</div>
					</form>
				</div>
				<div class="col-md-3 col-sm-12 text-right">
					<ul class="nav-icons">
						<li><a href="/register"><i class="ion-person-add"></i>
								<div>Đăng ký</div>
							</a></li>
						<li><a href="/login"><i class="ion-person"></i>
								<div>Đăng nhập</div>
							</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<nav class="menu">
		<div class="container">
			<div class="brand">
				<a href="#">
					<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
						alt="TH-News Logo">
				</a>
			</div>
			<div class="mobile-toggle">
				<a href="#" data-toggle="menu" data-target="#menu-list"><i class="ion-navicon-round"></i></a>
			</div>
			<div class="mobile-toggle">
				<a href="#" data-toggle="sidebar" data-target="#sidebar"><i class="ion-ios-arrow-left"></i></a>
			</div>
			<div id="menu-list">
				<ul class="nav-list">
					<li class="for-tablet nav-title"><a>Menu</a></li>
					<li class="for-tablet"><a href="/login">Đăng nhập</a></li>
					<li class="for-tablet"><a href="/register">Đăng ký</a></li>
					<!-- <li><a href="category.html">Thời sự</a></li> -->
					<li class="dropdown magz-dropdown"><a href="#">Thời sự <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							{{#each ChildrenOfNews}}
							<li><a href="/category/{{id}}">{{CatName}}</a></li>
							{{/each}}
						</ul>
					</li>
					<li class="dropdown magz-dropdown">
						<a href="category.html">Kinh doanh <i class="ion-ios-arrow-right"></i></a>
						
					</li>
					<li class="dropdown magz-dropdown"><a href="#">Công nghệ <i class="ion-ios-arrow-right"></i></a>
						
					</li>
					<li class="dropdown magz-dropdown magz-dropdown-megamenu"><a href="#"> Điểm báo <i
								class="ion-ios-arrow-right"></i>
							<div class="badge">Hot</div>
						</a>
						<div class="dropdown-menu megamenu">
							<div class="megamenu-inner">
								<div class="row">
									<div class="col-md-3">
										<div class="row">
											<div class="col-md-12">
												<h2 class="megamenu-title">Trending</h2>
											</div>
										</div>
										<ul class="vertical-menu">
											{{#each FiveTrendingTags}}<li><a href="#">
												<i class="ion-ios-circle-outline"></i>{{content}}</a></li>{{/each}}
											
											
										</ul>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-12">
												<h2 class="megamenu-title">Featured Posts</h2>
											</div>
										</div>
										<div class="row">
											{{#each TopThreeHot}}
											<article class="article col-md-4 mini">
												<div class="inner">
													<figure>
														<a href="/article/{{Id}}">
															<img src="{{Thumbnail}}"
																alt="Sample Article">
														</a>
													</figure>
													<div class="padding">
														<div class="detail">
															<div class="time">{{PublishDate}}</div>
															<div class="category"><a href="category.html">Pet</a>
															</div>
														</div>
														<h2><a href="/article/{{Id}}">{{Title}}</a></h2>
													</div>
												</div>
											</article>
											{{/each}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="dropdown magz-dropdown"><a href="#">Thể thao <i class="ion-ios-arrow-right"></i></a>
						
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Bạn đọc <i class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							{{#each ChildrenOfReader}}
							<li><a href="/category/{{id}}">{{CatName}}</a></li>
							{{/each}}
							
						</ul>
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Khác <i class="ion-ios-arrow-right"></i></a>
					
					</li>
					<li class="dropdown magz-dropdown"><a href="#"> Quản lý cá nhân <i
								class="ion-ios-arrow-right"></i></a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon ion-person"></i> My Account</a></li>
							<li><a href="#"><i class="icon ion-heart"></i> Favorite</a></li>
							<li><a href="#"><i class="icon ion-chatbox"></i> Comments</a></li>
							<li><a href="#"><i class="icon ion-key"></i> Change Password</a></li>
							<li><a href="#"><i class="icon ion-settings"></i> Settings</a></li>
							<li class="divider"></li>
							<li><a href="#"><i class="icon ion-log-out"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- End nav -->
</header>

<section class="login first grey">
	<div class="container">
		<div class="box-wrapper">
			<div class="box box-border">
				<div class="box-body">
					<h4>Đăng nhập</h4>
					<form method="POST" action="/auth/info/password">
						<div class="form-group">
							<label>Mật khẩu cũ</label>
							<input type="password" name="old_password" class="form-control">
						</div>
						<div class="form-group">
							<label class="fw">Mật khẩu</label>
							<input type="password" name="new_password" class="form-control">
						</div>
						<div class="form-group">
							<label class="fw">Xác nhận mật khẩu</label>
							<input type="password" name="confirm_password" class="form-control">
						</div>
						<div class="form-group text-right">
							<button class="btn btn-primary btn-block">Đỗi mật khẩu</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Start footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Kênh tin tức</h1>
					<div class="block-body">
						<figure class="foot-logo">
							<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041010/TH-News/logo_rf0ocp.png"
								class="img-responsive" alt="Logo">
						</figure>
						<p class="brand-description">
							TH-News là kênh tin tức được phát triển bởi nhóm đẹp trai -HCMUS
						</p>
						<a href="page.html" class="btn btn-magz white">Giới thiệu <i
								class="ion-ios-arrow-thin-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Tìm kiếm nhiều <div class="right"><a href="#">See All <i
									class="ion-ios-arrow-thin-right"></i></a></div>
					</h1>
					<div class="block-body">
						<ul class="tags">
							<li><a href="#">Trâm Anh</a></li>
							<li><a href="#">Chùa Ba Vàng</a></li>
							<li><a href="#">Liverpool</a></li>
							<li><a href="#">Link 4 phút</a></li>
							<li><a href="#">Điểm thi</a></li>
							<li><a href="#">Hố đen</a></li>
							<li><a href="#">Giỗ tổ</a></li>
						</ul>
					</div>
				</div>
				<div class="line"></div>
				<div class="block">
					<h1 class="block-title">Tin tức qua email</h1>
					<div class="block-body">
						<p>Theo dõi để cập nhật tin mới qua email</p>
						<form class="newsletter">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="ion-ios-email-outline"></i>
								</div>
								<input type="email" class="form-control email" placeholder="Nhập email">
							</div>
							<button class="btn btn-primary btn-block white">Theo dõi</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="block">
					<h1 class="block-title">Tin mới</h1>
					<div class="block-body">
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/ngu-dan-nghia-hiep_ta6qez.jpg"
											alt="Ngư dân nghĩa hiệp">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Anh ngư dân nghĩa hiệp</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041051/TH-News/News/song-theo-tu-nhien_pfczh9.jpg"
											alt="Sống theo tự nhiên">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Về vườn để học sống thuận theo tự nhiên</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/kiatisuk_gjlpbq.jpg"
											alt="Kiatisuk">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Kiatisak bận rộn ra sao mà người Thái Lan không cầu cứu?
										</a></h1>
								</div>
							</div>
						</article>
						<article class="article-mini">
							<div class="inner">
								<figure>
									<a href="single.html">
										<img src="https://res.cloudinary.com/dsqfchskj/image/upload/v1557041049/TH-News/News/nu-sinh-tu-tu_vw6k0v.jpg"
											alt="Nu sinh tu tu">
									</a>
								</figure>
								<div class="padding">
									<h1><a href="single.html">Nữ sinh nhảy cầu tự tử, hai nam sinh xuống cứu nhưng bất
											thành </a></h1>
								</div>
							</div>
						</article>
						<a href="#" class="btn btn-magz white btn-block">Xem thêm <i
								class="ion-ios-arrow-thin-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6">
				<div class="block">
					<h1 class="block-title">Follow</h1>
					<div class="block-body">
						<p>Theo dõi các trang mạng xã hội để cập nhật tin tức mới nhất</p>
						<ul class="social trp">
							<li>
								<a href="#" class="facebook">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-facebook"></i>
								</a>
							</li>

							<li>
								<a href="#" class="youtube">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-youtube-outline"></i>
								</a>
							</li>
							<li>
								<a href="#" class="googleplus">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-googleplus"></i>
								</a>
							</li>
							<li>
								<a href="#" class="instagram">
									<svg>
										<rect width="0" height="0" /></svg>
									<i class="ion-social-instagram-outline"></i>
								</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="line"></div>
				<div class="block">
					<div class="block-body no-margin">
						<ul class="footer-nav-horizontal">
							<li><a href="index.html">Trang chủ</a></li>
							<li><a href="#">Tin tức</a></li>
							<li><a href="contact.html">Liên hệ</a></li>
							<li><a href="page.html">Giới thiệu</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="copyright">
					COPYRIGHT &copy; BY LE MINH TRI-HUYNH TRUNG-TIN-NGUYEN HUU TU
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->
